.con{
    position: relative;
    top: -15px;
  
}

.a3{
    color: white;
    font-size: small;
}
.a1{
    color: white;
    font-family: serif;
    
}
.fa-shopping-cart{
    font-size: 2em;
    color: black;
    padding-left: 60%;
}
.fa-user{
    font-size: 2em;
    color: black;
    padding-left: 120%;
    
}
.fa-phone{
    font-size: 2em;
    color: black;
    padding-left: 150%;
}
.div{
    position: relative;
    left: 20%;
    }
    
.input{
        width: 400px;
        height: 40px;
    }
.button{
        width: 100px;
        height: 40px;
        background-color: black;
        color: white;
        border-color: black;
    }

.p{
    position: relative;
    left: 300px;
    top: -410px;
    font-size: 100px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    opacity: 0.5;
}
.div1{
    background-color: #DF8931;
    height: 430px;
   
}
.img1{
    position: relative;
    left: 5px;
    top: 5px;
}
.div2{
    background-color: #DF8931;
    border: white solid 5px;
    width: 300px;
    height: 320px;
    position: relative;
    left: 20px;
    top: 20px;
   
}
.p1{
    font-size: 26px;
    position: relative;
    top: 10px;
    left: 10px;
    padding-top: 3px;

}
.btn1{
    position: relative;
    left: 70px;
}
.div3{
    background-color: #DF8931;
    height: 200px;
   
}
.div4{
    background-color: #DF8931;
    border: 5px solid white;
   width: 720px;
   height: 190px;
    position: relative;
    top: 5px;
    left: 5px;
}
.p2{
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 30px;
}
.p3{
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 30px;
}
.div6{
    border-top: 5px solid white;
    background-color: #DF8931;
    border-bottom: 5px solid #DF8931;
    height: 205px;
    margin-top: 20px;
}
.p4{
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 30px; 
   
}
.p5{
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 30px;
   
}
.btn2{
    color: black;
    position: relative;
    left: 70px;
    font-weight: bold;
    font-size: 26px;
}

.a{
    color: black;
    position: relative;
    left: 10px;
  font-weight: bold;
  font-size: 26px;
}
.a2{
    color: black;
    position: relative;
    left: 90px;
  font-weight: bold;
  font-size: 26px;
}

.img2{
    float:right;
    position: relative;
    top: -110px;
    left: -40px;
}
h1{
    padding: 20px;
}
.input1{
    width: 400px;
    height: 150px;
    margin: 20px;
}
.button2{
    width: 100px;
    height: 40px;
    position: relative;
    top: 50px;
    background-color: #a1510a;
}

.fa-credit-card{
    font-size: 3em;
    color: #DF8931;
    position: relative;
    left: 150px;
}
.fa-truck-pickup{
    font-size: 3em;
    color: #DF8931;
    position: relative;
    left: 150px;
}
.fa-shield-alt{
    font-size: 3em;
    color: #DF8931;
    position: relative;
    left: 150px;
}
.fa-comment-alt{
    font-size: 3em;
    color: #DF8931;
    position: relative;
    left: 500px;
}

.btn3{
    position: relative;
    left: 100px;
}

